Features/PCFs/files_for_ml/protein_props.json filter=lfs diff=lfs merge=lfs -text
Features/PDB/entire_pdb_info.json filter=lfs diff=lfs merge=lfs -text
Features/PCFs/uniprotkb_taxonomy_id_9606_AND_reviewed_2024_03_08.fasta.gz filter=lfs diff=lfs merge=lfs -text
